.navbar{
    width: 100%;
    color:rgb(71, 70, 70);
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--main-color);
}
.scrolled{
    background-color: black;
    color: white;
}
.containerMain{
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.left img{
    height: 30px;
    margin-right: 30px;
}
.left{
    display: flex;
    align-items: center;
    color: white;
}
.left span{
    margin-right: 20px;
    cursor: pointer;
}
.left span:hover{
   color:gray;
}
.right{
    display: flex;
    height: 30px;
    color: white;
}
.right .icon{
    margin: 0px 10px;
    cursor: pointer;
}
.right img{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;
}
.option{
    display: none;
    background-color: rgba(0, 0, 0, 0.515);
    border-radius: 5px;
    color: white;
    padding: 10px;
    position: absolute;
}
.option span{
    padding: 10px;
    cursor: pointer;
}
.option .operation{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.right .profile:hover .option{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 70px;
}